/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
/*@include extjs-tab-panel-ui(
        $ui: 'navigation',
        $ui-tab-background-color: transparent,
        $ui-tab-background-color-over: #505050,
        $ui-tab-background-color-active: #303030,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #acacac,
        $ui-tab-color-over: #c4c4c4,
        $ui-tab-color-active: #fff,
        $ui-tab-glyph-color: #acacac,
        $ui-tab-glyph-color-over: #c4c4c4,
        $ui-tab-glyph-color-active: #fff,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-width: 0,
        $ui-tab-inner-border-width: 0,
        $ui-tab-padding: 24px,
        $ui-tab-margin: 0,
        $ui-tab-font-size: 15px,
        $ui-tab-font-size-over: 15px,
        $ui-tab-font-size-active: 15px,
        $ui-tab-line-height: 19px,
        $ui-tab-font-weight: bold,
        $ui-tab-font-weight-over: bold,
        $ui-tab-font-weight-active: bold,
        $ui-tab-icon-width: 24px,
        $ui-tab-icon-height: 24px,
        $ui-tab-icon-spacing: 5px,
        $ui-bar-background-color: #404040,
        $ui-bar-background-gradient: 'none',
        $ui-bar-padding: 0,
        $ui-strip-height: 0
);*/

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
        $ui: 'navigation',
        $ui-header-color: #fff,
        $ui-header-glyph-color: #fff,
        $ui-header-glyph-opacity: 1,
        $ui-header-font-size: 20px,
        $ui-header-line-height: 24px,
        $ui-header-font-weight: bold,
        $ui-header-icon-height: 24px,
        $ui-header-icon-width: 24px,
        $ui-header-icon-spacing: 15px,
        $ui-header-background-color: $base-color,
        $ui-header-padding: 0,
        $ui-header-text-margin: 20px,
        $ui-header-noborder-adjust: false
);

@include extjs-panel-ui(
        $ui: "mainpanelui",
        $ui-header-font-size: 20px,
        $ui-header-line-height: 24px,
        $ui-header-font-weight: bold,
        $ui-header-icon-height: 24px,
        $ui-header-icon-width: 24px,
        $ui-header-icon-spacing: 15px
)
.x-panel-header-title-mainpanelui {
  left: 0px !important;

}

.x-title-icon-navigation {

  font-family: FontAwesome;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.x-tab-icon-el-navigation {
  font-family: FontAwesome;
  color: #acacac;

  .x-tab-over & {
    color: #c4c4c4;
  }

  .x-tab-active & {
    color: #fff;
  }
}

@include extjs-button-large-ui(
        $ui: "keyboard",
        $border-radius: $button-large-border-radius,
        $border-width: $button-large-border-width,
        $padding: $button-large-padding,
        $text-padding: $button-large-text-padding,
        $background-gradient: $button-default-background-gradient,
        $background-gradient-over: $button-default-background-gradient-over,
        $background-gradient-focus: $button-default-background-gradient-focus,
        $background-gradient-pressed: $button-default-background-gradient-pressed,
        $background-gradient-focus-over: $button-default-background-gradient-focus-over,
        $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
        $background-gradient-disabled: $button-default-background-gradient-disabled,
        $body-outline-width-focus: $button-default-body-outline-width-focus,
        $body-outline-style-focus: $button-default-body-outline-style-focus,
        $body-outline-color-focus: $button-default-body-outline-color-focus,
        $line-height: $button-large-line-height,
        $icon-size: $button-large-icon-size,
        $glyph-font-size: $button-large-glyph-font-size,
        $icon-spacing: $button-large-icon-spacing,
        $glyph-color: $button-default-glyph-color,
        $glyph-opacity: $button-default-glyph-opacity,
        $arrow-width: $button-large-arrow-width,
        $arrow-height: $button-large-arrow-height,
        $arrow-glyph: $button-large-arrow-glyph,
        $arrow-glyph-color: $button-default-arrow-glyph-color,
        $split-width: $button-large-split-width,
        $split-height: $button-large-split-height,
        $split-line-width: $button-large-split-line-width,
        $split-line-color: $button-default-split-line-color,
        $include-ui-menu-arrows: $button-include-ui-menu-arrows,
        $include-ui-split-arrows: $button-include-ui-split-arrows,
        $include-split-noline-arrows: $button-include-split-noline-arrows,
        $include-split-over-arrows: $button-include-split-over-arrows,
        $opacity-disabled: $button-opacity-disabled,
        $inner-opacity-disabled: $button-inner-opacity-disabled,
        $background-color: blue
)

/*
.x-panel-header-title-navigation > .x-title-text-navigation:after {
  top: 30px;
  right: -24px;
}

.x-title-icon, .x-tree-icon,.x-btn-icon-el,.x-menu-item-icon,.x-menu-item-link {
  font-family: FontAwesome !important;
  color: #fff !important;
}

.x-title-icon{
  font-size: 30px !important;
  margin-top: -15px;
}

.FontAwesome{
  font-family: FontAwesome !important;
}

*/
@keyframes alarm {
  0% {
    background: red;
  }
  50% {
    background: black;
  }
  100% {
    background: red;
  }
}

.alarm {
  animation: alarm 2s linear 1s infinite alternate;
}

.hold {
  background:peru;
}

.normal {

}

.opacity1 {
  opacity: 1;
}